body {
  padding: 50px 0 0 0;
  z-index: 0;
}
.row-header {
  margin: 0 auto;
  padding: 0 auto;
}
.row-content,
.row-content--long {
  margin: 0 auto;
  padding: 50px 0;
  border-bottom: 1px ridge;
}
.footer {
  background-color: #d1c4e9;
  margin: 0 auto;
  padding: 20px 0;
  margin: 0;
}
.jumbotron {
  padding: 70px 30px;
  margin: 0 auto;
  background: #9575cd;
  color: floralwhite;
}
.navbar-dark {
  background-color: #512DA8;
}
address {
  font-size: 80%;
  margin: 0;
  color: #0f0f0f;
}
.tab-content {
  border: 1px solid #ddd;
  border-top: none;
  padding: 10px;
}