<aside class="content-aside-right">
  <mat-card>
    <mat-list role="list">
      <mat-list-item role="listitem">
        <a mat-button routerLink="/favorites">
          <i class="fa fa-star fa-lg"></i>Favorites
        </a>
      </mat-list-item>
      <mat-list-item role="listitem">
        <a mat-button>
          <i class="fa fa-bookmark fa-lg"></i>Bookmarks
        </a>
      </mat-list-item>
      <mat-list-item role="listitem">
        <a mat-button>
          <i class="fa fa-cogs fa-lg"></i>Settings
        </a>
      </mat-list-item>
    </mat-list>
  </mat-card>
</aside>