<header>
  <mat-toolbar color="primary">
    <a mat-button 
      routerLink="/home" 
      routerLinkActive="active"
    >
      <i class="fa fa-home fa-lg"></i>Home
    </a>
    <a mat-button 
      routerLink="/about" 
      routerLinkActive="active"
    >
      <i class="fa fa-info fa-lg"></i>About
    </a>
    <a mat-button 
      routerLink="/menu" 
      routerLinkActive="active"
    >
      <i class="fa fa-list fa-lg"></i>Menu
    </a>
    <a mat-button 
      routerLink="/contact" 
      routerLinkActive="active"
    >
      <i class="fa fa-address-card fa-lg"></i>Contact
    </a>
    <a mat-button class="btn-login">
      <i class="fa fa-sign-in fa-lg"></i>Login
    </a>
  </mat-toolbar>
</header>