<div class="content">
  <h2 class="content-title">Popular movies</h2>

  <mat-grid-list cols="5" rowHeight="150px" gutterSize="2rem">
    <mat-grid-tile 
      *ngFor="let movie of movies" 
      (click)="onSelect(movie)"
    >
        <p>overview: {{ movie.overview }}</p>
        <img src="{{ movie.poster_path }}" alt="{{ movie.title }}" height="200">
        <mat-grid-tile-footer>
          <h1 matLine>{{ movie.title }}</h1>
          <h2 matLine>genres: {{ movie.genre_ids }}</h2>
        </mat-grid-tile-footer>
    </mat-grid-tile>
  </mat-grid-list>
</div>

<app-movie-detail [movie]="selectedMovie"></app-movie-detail>