
<!--   <div class="content-popular-select">
    <mat-card *ngIf="selectedMovie">
      <mat-card-header>
        <mat-card-title>
          <h3>{{selectedMovie.title | uppercase}}</h3>
        </mat-card-title>
      </mat-card-header>
      <img mat-card-image src="{{ selectedMovie.poster_path }}" alt="{{ selectedDish.title }}">
      <mat-card-content>
        <p>{{ selectedMovie.overview }}</p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button>LIKE</button>
        <button mat-button>SHARE</button>
      </mat-card-actions>
    </mat-card>
  </div> -->

<div class="content">
  <h2 class="content-title">Select movies</h2>

  <p>
    <span>title: {{ movie.title }}</span><br>
    <span>genres: {{ movie.genre_ids }}</span><br>
    <span>adult: {{ movie.adult }}</span><br>
    <span>overview: {{ movie.overview }}</span><br>
  </p>
</div>